/* src/css/Spreadsheet.css */
.spreadsheet-container {
  margin-left: 20px; /* adjust this value to match the logo's horizontal offset */
}

/* Spreadsheet.css */
.spreadsheet-wrapper {
  max-height: 90vh;
  width: 98%;
  margin-left: 0px;
  overflow: hidden;
}
