.repositorio-container {
  display: flex;
  height: 100vh;
  padding: 1rem;
  gap: 1rem;
  box-sizing: border-box;
}

.repositorio-sidebar {
  width: 35%;
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.repositorio-viewer {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
